extends layout

block content

  section.content-wrapper

    h1
      span.date= date.current
      br
      = title

    each paragraph in intro.text
      p
        b= paragraph

    if intro.author
      p
        em= intro.author

    each item in body
      h2= item.index

      each paragraph in item.text
        p= paragraph

      if item.author
        p
          em= item.author

    each paragraph in conclusion.text
      p
        b= paragraph

    if conclusion.author
      p
        em= conclusion.author
