extends layout

block content

  section.content-wrapper

    h1
      span.date= date.current
      br
      =title

    each paragraph in intro.text
      h2= paragraph

    each item in body
      div
        h3= item.index

        each paragraph in item.text
          p= paragraph

        if item.author
          p
            em= item.author

    each paragraph in conclusion.text
      h2= paragraph