include mixin.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")

    title= `${title} - Круг чтения`

    link(rel="alternate", type="application/rss+xml", title="Круг чтения. Л. Н. Толстой", href="https://readingcircle.ru/feed/rss")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i&amp;subset=cyrillic")
    link(rel="stylesheet", href="/css/style.css")

    script(async=true, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3097991840705245",
        enable_page_level_ads: true
      })
    </script>

  body

    .wrapper
      .grid-center

        div.content-wrapper
          header.header

            div
              | &larr;
              |
              a(href=`/${date.before}`) назад

            h1
              a(href="/") Круг чтения

            div
              a(href=`/${date.after}`) вперед
              |  &rarr;

        main
          block content

        include components/calendar.pug

        p
          a(href="http://eepurl.com/diwACv", target="_blank") Подписаться на рассылку