doctype xml
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    title Круг чтения
    link http://82.202.246.78/
    atom:link(href='http://82.202.246.78/feed/rss', rel='self', type='application/rss+xml')

    description Круг чтения. Лев Николаевич Толстой.

    language ru-Ru
    lastBuildDate= date

      item
        title= title
        link
          a(href="http://82.202.246.78/" + slug, rel="nofollow") http://82.202.246.78/#{slug}

        description
          | <![CDATA[
          each paragraph in intro.text
            h2= paragraph

          if intro.author
            p
              em= intro.author

          each item in body
            h3= item.index

            each paragraph in item.text
              p= paragraph

            if item.author
              p
                em= item.author

          hr

          each paragraph in conclusion.text
            p
              i= paragraph

          if conclusion.author
            p
              em= conclusion.author
          | ]]>

        pubDate= date
        guid(isPermaLink='false')
          a(href="http://82.202.246.78/" + slug, rel="nofollow") http://82.202.246.78/#{slug}