doctype xml
rss(version='2.0', xmlns:atom='<a href="http://www.w3.org/2005/Atom" rel="nofollow">http://www.w3.org/2005/Atom</a>')
    channel
        title Круг чтения
        link http://82.202.246.78/
        atom:link(href='http://82.202.246.78/feed/rss', rel='self', type='application/rss+xml')

        description Круг чтения. Лев Николаевич Толстой.

        language ru-Ru
        lastBuildDate= date

            item
                title= title
                link <a href="http://82.202.246.78/#{slug}" rel="nofollow">http://82.202.246.78/#{slug}</a>
                description
                    | <![CDATA[
                    | !{body}
                    | ]]>
                pubDate= date
                guid(isPermaLink='false') <a href="http://82.202.246.78/#{slug}" rel="nofollow">http://82.202.246.78/#{slug}</a>