include ../mixin.pug

doctype xml
rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
  channel
    title Круг чтения
    link https://calendarofwisdom.ru/
    atom:link(href="https://calendarofwisdom.ru/feed/rss", rel="self", type="application/rss+xml")

    description Круг чтения. Лев Николаевич Толстой.

    language ru-Ru
    lastBuildDate= lastBuildDate

    each article in articles
      item
        title= article.title
        link
          | https://calendarofwisdom.ru/#{article.slug}

        description

          +escape()

            each paragraph in article.intro.text
              h3
                | !{paragraph}

            if article.intro.author
              p
                em
                  | !{article.intro.author}

            each item in article.body
              h2
                | !{item.index}

              each paragraph in item.text
                p
                  | !{paragraph}

              if item.author
                p
                  em
                    | !{item.author}

            hr

            each paragraph in article.conclusion.text
              p
                i
                  | !{paragraph}

            if article.conclusion.author
              p
                em
                  | !{article.conclusion.author}

        pubDate= article.date
        guid
          | https://calendarofwisdom.ru/#{article.slug}